fastapi==0.111.1
SQLAlchemy==2.0.31
requests==2.32.3
pydantic==2.8.2
pydantic_core==2.20.1
uvicorn==0.30.5
APScheduler==3.10.4
typer==0.12.3
tinytuya
inquirer
google-api-core==2.21.0
google-api-python-client==2.149.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
googleapis-common-protos==1.65.0
numpy